<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projetodm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projetodm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projetoDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$projetoDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:projetodm106serv.database.windows.net,1433;Initial Catalog=projetoDM106db;User ID=nathcarletti;Password=Nat#02119!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="projetoDM106.Models.ApplicationDbContext, projetoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="projetoDM106Context" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:projetodm106serv.database.windows.net,1433;Initial Catalog=projetoDM106db;User ID=nathcarletti;Password=Nat#02119!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="projetoDM106.Models.projetoDM106Context, projetoDM106" MigrationConfiguration="projetoDM106.Migrations.Configuration, projetoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="projetoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projetodm106serv.database.windows.net,1433;Initial Catalog=projetoDM106db;User ID=nathcarletti;Password=Nat#02119!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projetodm106serv.database.windows.net,1433;Initial Catalog=projetoDM106db;User ID=nathcarletti;Password=Nat#02119!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>